section.donation 
    .container 
        .donation__container 
            .donation__image
            .donation__description 
                h3.donation__title You can also<br> make a donation
                h5.donation__subtitle Name of the bank / Type of bank account
                .donation__card 
                    a.donation__link
                        span.donation__number 8380 2880 8028 8791 7435
                p.donation__text
                    | Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    | Maecenas a ipsum at libero sagittis dignissim sed ac diam.
                    | Praesent ultrices maximus tortor et vulputate.
                    | Interdum et malesuada fames ac ante ipsum primis in faucibus.

