footer.footer#contact 
    .container 
        .footer__container 
            .footer__contact 
                h3.footer__title For questions<br><span></span> and suggestions
                a(href="mailto:email@shelter.com").footer__link.footer__link-mail email@shelter.com
                a(href="tel:+136745677554").footer__link.footer__link-phone +13 674 567 75 54
            .footer__contact 
                h3.footer__title We are waiting<br><span></span> for your visit
                a(href="https://goo.gl/maps/HQLNtCa33cCHv4ff9", onclick="return !window.open('https://goo.gl/maps/HQLNtCa33cCHv4ff9', '', 'Width=1000,Height=700')").footer__link.footer__link-pin 1 Central Street, Boston<br> (entrance from the store)
                a(href="https://goo.gl/maps/boTYaaJjQz3TG57u6", onclick="return !window.open('https://goo.gl/maps/boTYaaJjQz3TG57u6', '', 'Width=1000,Height=700')").footer__link.footer__link-pin 18 South Park, London
            .footer__image