doctype html
html(lang='en')
  include blocks/head/_head.pug
  
  body
    include blocks/buttons/_buttons
    include blocks/card/_card
    include blocks/hero/_hero
    main
      include blocks/about/_about
      include blocks/friends-short/_friends-short
      include blocks/help/_help
      include blocks/donation/_donation
    include blocks/footer/_footer

    

      
        
      
      